@model QLKaraoke.Models.Phong
@{
    ViewBag.Title = "RoomDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .room-detail {
        display: flex;
        flex-direction: row;
    }

    .room-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-left: 40px;
    }

        .room-image img {
            width: 100%;
            height: 100%;
        }

    .room-info {
        flex: 1;
        text-align: center;
        margin-top: 50px;
    }

    .booking-section {
        margin-top: 20px;
    }

    .booking-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .booking-table th,
        .booking-table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        .booking-table th {
            background-color: #f2f2f2;
        }

    .booking-button {
        display: block;
        width: 100%;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease;
    }

        .booking-button:hover {
            background-color: #0069d9;
        }

    .disabled {
        background-color: #ddd;
        color: #666;
        pointer-events: none;
    }

    .product-description-wrapper {
        margin-top: 50px;
        text-align: justify;
        padding: 0px 20px;
        line-height: 1.5;
    }

    .product-description-heading {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-description-content-wrapper {
        display: flex;
    }

    .product-description-content {
        word-wrap: break-word;
        max-width: 300px;
        text-align: justify;
        padding-left: 20px;
        line-height: 1.5;
    }

    .page-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .comment-wrapper {
        max-width: 100%;
        margin-top: 30px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .fb-comments {
        width: 100% !important;
    }

    .fb_iframe_widget span {
        width: 100% !important;
    }

    .room-image img {
        transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    }

    .room-image:hover img {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

    .booking-section {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }

        .booking-section form input[type="date"],
        .booking-section form input[type="time"],
        .booking-section form button[type="submit"] {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .booking-section form button[type="submit"] {
            background-color: green;
            color: white;
            font-weight: bold;
        }

    .btn-hover:hover {
        background-color: #28a745;
        color: white;
    }

    .row-animation {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    }

        .row-animation.show {
            opacity: 1;
            transform: translateX(0);
        }

    .room-image:hover img {
        transform: scale(1.1);
        transition: transform 0.5s;
    }

    .shadow {
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
        transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    }
</style>

<div class="room-detail">
    <div class="room-image">
        <img src="~/Areas/Admin/assets/img/@Model.HinhAnh" />
    </div>
    <div class="col-md-6">
        <div class="room-info" style="float:right">
            <h2>@Model.TenPhong</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Loại phòng:</th>
                        <td>@Model.LoaiPhong.TenPhong</td>
                    </tr>
                    <tr>
                        <th scope="row">Đơn giá:</th>
                        <td>@string.Format("{0:0,0} đ", @Model.DonGia)</td>
                    </tr>
                    <tr>
                        <th scope="row">Số lượng người:</th>
                        <td>@Model.SoLuongNguoi</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.NoiDung != null)
{
    <div class="product-description-wrapper">
        <p class="product-description-heading">Mô tả phòng:</p>
        <div class="product-description-content-wrapper">
            <p class="product-description-content">@Html.Raw(Model.NoiDung)</p>
        </div>
    </div>
}
<hr />

@if (TempData["ErrorMessage"] != null)
{
    <div style="background-color: red; color: white; font-weight: bold;">
        @TempData["ErrorMessage"]
    </div>
}
<div class="booking-section">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (ViewBag.TimeStart != null && ViewBag.TimeEnd != null)
    {
        <h2>Xem Lịch</h2>
        <div class="booking-search">
            <form action="@Url.Action("RoomDetail", "Home", new { id = Model.IDPhong })" method="get">
                <label for="selectedDate">Xem ngày đặt:</label>
                <input type="date" id="selectedDate" name="selectedDate" value="@ViewBag.SearchDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                <button type="submit" class="shadow">Xem</button>
            </form>
        </div>
        if (ViewBag.TimeStart.Count > 0)
        {
            <table class="booking-table">
                <thead>
                    <tr>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.TimeStart.Count; i++)
                    {
                        <tr>
                            <td>@ViewBag.TimeStart[i]</td>
                            <td>@ViewBag.TimeEnd[i]</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Hiện tại phòng này không có ai đặt trong ngày được chọn.</p>
        }
    }

</div>
<hr />
@using (Html.BeginForm("BookRoom1", "Home", FormMethod.Get))
{<h2 style="margin-left:20px">Đặt Phòng</h2>
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-3 form-group align-self-end">
            <label for="selectedDate" style="margin-left:20px">Chọn ngày đặt:</label>
            <input type="date" id="selectedDate" name="selectedDate" value="@ViewBag.SearchDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
        </div>
        <div class="col-md-2 form-group align-self-end">
            <label for="timeStart">Bắt đầu:</label>
            @Html.TextBox("timeStart", null, new { @class = "form-control", @type = "time", style = "width: 80%" })
        </div>
        <div class="col-md-2 form-group align-self-end">
            <label for="timeEnd">Kết thúc:</label>
            @Html.TextBox("timeEnd", null, new { @class = "form-control", @type = "time", style = "width: 80%" })
        </div>
        <div class="col-md-2 form-group align-self-end">
            <button type="submit" class="btn btn-success btn-block shadow">Đặt phòng</button>
        </div>
    </div>
    <div class="form-group">
        @Html.Hidden("id", Model.IDPhong)
        @Html.Hidden("idLoai", Model.IDLoaiPhong)
        @Html.Hidden("selectedDate", ((DateTime?)ViewBag.SearchDate)?.ToString("yyyy-MM-dd"))
        @Html.Hidden("timeStart", Request.QueryString["timeStart"])
        @Html.Hidden("timeEnd", Request.QueryString["timeEnd"])
    </div>
}
<script>
    $('.row-animation').addClass('show');

</script>
<h2 class="page-heading">Bình Luận</h2>
<div class="comment-wrapper">
    <div class="fb-comments" data-href="https://localhost:44312/" data-width="100%" data-numposts="10"></div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0" nonce="YPvNBz3v"></script>
