@using System.Web;
@using System.Web.Mvc;
@using PagedList.Mvc;
@model PagedList.PagedList<QLKaraoke.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="@Url.Action("Index", "News")" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Tìm kiếm ">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        @foreach (var tinTuc in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@Url.Content("~/Areas/Admin/assets/img/" + tinTuc.Hinhanh)" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@Html.Raw(tinTuc.TieuDe)</h4>
                        <p class="card-text">@Html.Raw(tinTuc.NoiDung.Substring(0, Math.Min(tinTuc.NoiDung.Length, 50)))...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@Url.Action("Details", "News", new { @id = tinTuc.Id })" class="btn btn-sm btn-outline-secondary">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="product__pagination">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("News", new { page = page }))
    </div>
</div>

<style>
    .card {
        height: 100%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

        .card:hover {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
        }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }


    .card-body {
        height: 175px;
        padding: 1rem;
        position: relative;
    }

        .card-body a {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
    }

    .product__pagination {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MenuTrang {
        margin-left: 1rem;
    }

    .page-link {
        color: #000;
    }

        .page-link:hover {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

    .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
