@model QLKaraoke.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Nhân Viên - @Model.HoTenNV</h4>
            <hr />
            <dl class="dl-horizontal">

                <dd class="col-sm-9">
                    @if (!string.IsNullOrEmpty(Model.HinhAnh))
                    {
                        <img src="@Url.Content("~/Areas/Admin/assets/img/" + Model.HinhAnh)" class="img-thumbnail" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </dd>
                @if (Model.TrangThai == 2)
                {
                    <dt>
                       Bài Tuyển dụng
                    </dt>

                    <dd>
                        @Html.Raw(Model.TinTuc.TieuDe)
                    </dd>
                }


                <dt>
                    Họ Tên
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HoTenNV)
                </dd>


                <dt>
                    Giới Tính
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>

                <dt>
                    Ngày Sinh
                </dt>

                <dd>
                    @Model.NgaySinh.Value.ToString("dd/MM/yyyy")
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Số Điện Thoại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>

                <dt>
                    Địa Chỉ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <h4>Thông tin về chức vụ và lương</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Chức Vụ
                </dt>
                <dd>
                    @Model.ChucVu.TenChucVu
                </dd>
                @if (Model.ChucVu.LuongCV > 0)
                {
                    <dd>
                        @Html.DisplayFor(model => model.ChucVu.TenChucVu)
                    </dd>

                    <dt>
                        Lương Chức Vụ
                    </dt>

                    <dd>
                        @string.Format("{0:0,0} đ", Model.ChucVu.LuongCV)
                    </dd>

                }

                <dt>
                    Lương
                </dt>

                <dd>
                    @string.Format("{0:0,0} đ", Model.Luong)
                </dd>

                <dt>
                    Trạng Thái
                </dt>

                <dd>
                    @if (Model.TrangThai == 1)
                    {
                        <span class="text-success">Đang làm</span>
                    }
                    else if (Model.TrangThai == 2)
                    {
                        <span class="text-warning">Chờ duyệt</span>
                    }
                    else if (Model.TrangThai == 3)
                    {
                        <span class="text-danger">Nghỉ việc</span>
                    }
                    else
                    {
                        <span class="text-secondary">Hủy hồ sơ</span>
                    }
                </dd>
                @if (Model.IdKh != null)
                {
                    <dt>
                        Tài khoản nộp
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.KhachHangg.Name)
                    </dd>
                }
            </dl>


        </div>
    </div>
</div>
<div class="text-center">
    @if (Model.TrangThai == 1)
    {
        @Html.ActionLink("Thôi Việc", "Edit2", new { id = Model.IDNhanVien }, new { @class = "btn btn-danger" })
    }
    @if (Model.TrangThai == 2)
    {
        @Html.ActionLink("Hủy Hồ Sơ", "Edit3", new { id = Model.IDNhanVien }, new { @class = "btn btn-danger" })
    }
    @if (Model.TrangThai == 1)
    {
        @Html.ActionLink("Hoàn Tất", "Index1")
    }
    else if (Model.TrangThai == 2 || Model.TrangThai == 4)
    {
        @Html.ActionLink("Hoàn Tất", "Index")
    }
    else
    {
        @Html.ActionLink("Hoàn Tất", "Index2")
    }
</div>
